@if(!isSubmitted){
    <div class="card flex justify-content-center">
        <br>
        <br>
        <span class="p-float-label">
            <input pInputText id="name" [(ngModel)]="setValue.name" />
            <label for="name">Name</label>
        </span>
        <br>
        <br>
        <span class="p-float-label">
            <input pInputText id="desc" [(ngModel)]="setValue.description" />
            <label for="desc">Description</label>
        </span>
        <br>
        <br>
        <span class="p-float-label">
            <input pInputText id="lctn" [(ngModel)]="setValue.location" />
            <label for="lctn">Location</label>
        </span>
        <br>
        <br>
        <span class="p-float-label">
            <input type="text" pInputText id="rt" [(ngModel)]="setValue.rating" />
            <label for="rt">Rating</label>
        </span>
        <br>
        <p-button label="Submit" icon="pi pi-check" (click)="setGym()" iconPos="right"></p-button>
    </div>
    
}
@else{
    <h1>Malumotlar yaratildi</h1>
}